body{ 
    background-color: blueviolet;
    color: aqua rgb(22,103,105);
    
}
h3{
    text-align: center;
    
}
section{
 display:flex;

}
header{olor: aqua;
    text-align: center;
    background-color: aqua;
    padding: 20px;
    margin: 20px;
    justify-content: space-around;
}
   titulo-1{
    background-color: aqua;
    text-align: left;
    margin: 20px;
    padding: 20px;
   } 
  titulo-2{
    color: aqua;
    text-align: center;
  }

a{
    color: black;
    padding: 20px;
    text-align: none;
    font-size: 24px;
}

p{
    text-align: center;
    color: blueviolet;
    margin: 0;
    padding: 0;
}
a:hover{
    color: rgb(22,104,105);
    text-decoration: underline;
}